.sac_select_answer{
    display: grid;
    grid-gap: 1rem;
    margin: 2rem 0;
}

.sac_select_answer p{
    padding:1rem 1.5rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.sac_ans_card{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000021;
    cursor: pointer;
    border-radius: 20px;
}


.sac_ans_active{
    background: red;
}
